@tailwind base;
@tailwind components;
@tailwind utilities;

.text-with-shadow {
  text-shadow: 0.1rem 0rem 0rem rgb(82, 45, 161);
}

.bgc {
  /* background: radial-gradient(circle, red, blue); */
  /* background: linear-gradient(
    to bottom,
    rgb(83, 83, 185),
    rgb(43, 43, 39),
    green
  ); */
  background: radial-gradient(circle at center, orange, lightblue, blue);
  /* background: repeating-linear-gradient(45deg, red, blue); */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* @keyframes headerr {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
} */

.animate-header {
  animation: bounce 1s infinite;
}

.about-color {
  color: lightsteelblue;
}

footer {
  border-top: 0.2rem solid black;
  background-color: green;
}

.logo {
  position: absolute;
  width: 7%;
  height: 7%;
  transform-origin: center;
  animation: rotateAnimation 36s linear infinite;
}

.tailwind-logo-mobile {
  position: absolute;
  height: 5%;
  width: 8%;
  transform-origin: center;
  animation: rotateAnimation 36s linear infinite;
}
.tailwind-logo {
  position: absolute;
  height: 5%;
  width: 5%;
  transform-origin: center;
  animation: rotateAnimation 36s linear infinite;
}

.logo-1 {
  animation-delay: -3s;
}
.logo-2 {
  animation-delay: -6s;
}
.logo-3 {
  animation-delay: -9s;
}
.logo-4 {
  animation-delay: -12s;
}
.logo-5 {
  animation-delay: -15s;
}
.logo-6 {
  animation-delay: -18s;
}
.logo-7 {
  animation-delay: -21s;
}
.logo-8 {
  animation-delay: -24s;
}
.logo-9 {
  animation-delay: -27s;
}
.logo-10 {
  animation-delay: -30s;
}
.logo-11 {
  animation-delay: -33s;
}
.logo-12 {
  animation-delay: -36s;
}
@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translate(170px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translate(170px)
      rotate(-360deg);
  }
}
