@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @font-face {
  font-family: "Burtons";
  src: url("../public/Burtons.otf");
} */

.text-with-shadow {
  text-shadow: 0.1rem 0rem 0rem rgb(82, 45, 161);
}

.bgc {
  /* background: radial-gradient(circle, red, blue); */
  /* background: linear-gradient(
    to bottom,
    rgb(83, 83, 185),
    rgb(43, 43, 39),
    green
  ); */
  background: radial-gradient(circle at center, orange, lightblue, blue);
  /* background: repeating-linear-gradient(45deg, red, blue); */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* @keyframes headerr {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
} */

.animate-header {
  animation: bounce 1s infinite;
}

/* .animate-bounce {
  animation: bounce 1s infinite;
} */

.circular-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vh;
  overflow: hidden;
  position: relative;
}

.logo {
  position: absolute;
  width: 10%;
  height: 10%;
  transform-origin: center;
  animation: rotateAnimation 33s linear infinite;
}

.logo-1 {
  animation-delay: -3s;
}
.logo-2 {
  animation-delay: -6s;
}
.logo-3 {
  animation-delay: -9s;
}
.logo-4 {
  animation-delay: -12s;
}
.logo-5 {
  animation-delay: -15s;
}
.logo-6 {
  animation-delay: -18s;
}
.logo-7 {
  animation-delay: -21s;
}
.logo-8 {
  animation-delay: -24s;
}
.logo-9 {
  animation-delay: -27s;
}
.logo-10 {
  animation-delay: -30s;
}
.logo-11 {
  animation-delay: -33s;
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translate(200px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translate(200px)
      rotate(-360deg);
  }
}
